body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #f7fafc;;

}

header{

  padding: 1.25rem;
  border-bottom: 1px solid #e5e7eb;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.container1{
    text-align: center;
    padding: 5px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#tituloproyecto{
    text-align: center;
}

.container3{
  text-align: center;
}

.proyectos{
    margin-top: 15px;
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.formulario{
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#nombre{
    margin-bottom: 5px;
}

#label-name{
    margin-bottom: 2px;
    display: block;
    text-transform: uppercase;
    color: #6b7280;
    font-family: 'Roboto', sans-serif;
}

.inputName{
    border: 1px solid #e5e7eb; 
    padding: 0.75rem; 
    width: 100%;
    border-radius: 0.5rem;
}

#mensaje{
    padding: 10px ;
    width: 100%;
    border-radius: 4px;
    margin-top: 15px;
    border: 1px solid #ccc;
    
}

.boton-enviar{
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

.wrapper{
    width: fit-content;
    height:auto;
}
button{
    width:200px;
    height:70px;
    background: linear-gradient(to left top, #230c36 50%, #33146e 50%);
    border-style: none;
    color:#fff;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: 'Lato';
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}
button span{
    position: absolute;
    display: block;
}
button span:nth-child(1){
    height: 3px;
    width:200px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-200px
    }
    100%{
        left:200px;
    }
}
button span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
button span:nth-child(3){
    height:3px;
    width:200px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

button span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

button:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
    animation-play-state: paused;
}

footer{
    text-align: center;
    text-transform: uppercase;
    color: gray;
    padding: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}
a{
    text-decoration: none;
    color: gray;
}
.redes{
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

